@model IEnumerable<string>

    <a class="btn btn-block btn-secondary" asp-action="List" asp-controller="Product" asp-route-category="">Home</a>
    @foreach (string category in Model)
    {
      string cate = ViewContext.RouteData.Values["category"]!=null?ViewContext.RouteData.Values["category"].ToString():"";
        
        <p>@(ViewBag.SelectedCategory)</p>
        <a class="btn btn-block 
                @(category == cate?"btn-primary":"btn-secondary") 
                "
                asp-action="List" 
                asp-controller="Product" 
                asp-route-category="@category" 
                asp-route-productPage="1">@category</a>
    }