﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="~/lib/bootstrap/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*grid*" rel="stylesheet" />
    <link asp-href-include="~/lib/fontawesome-free/css/*.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-dark" role="navigation">
        <div class="row">
        <a class="col navbar-brand" href="#">SPORTS STORE</a>
        <div class="col-6 text-right">@await Component.InvokeAsync("CartSummary")</div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-2">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>
</body>
</html>
